@font-face {
    font-family: 'Localhost Regular';
    src: url('Localhost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image:url('Background.gif');
    background-repeat: repeat;
    background-size: 50%;
    display: flex;
    align-items: center;
    margin-top: 64;
    margin-bottom: 64;

}

.container {
    width: 50%;
}

.status-bar-containers {
    background: rgba(2, 28, 0, 0.75);
    border-radius: 32px;
    border: 3px dotted white;
    border-radius: 32px;
}

.row{
    padding: 32px;
}

h3{
    margin: 0;
}

.progress-title{
    font-size: 16px;
    color:#011627;
    margin:0px 0px 20px;
    font-weight: 700;
}
.progress{
    background: linear-gradient(
        to left,
        rgb(181, 196, 248) 20%,
        rgb(247, 224, 181) 20% 40%,
        rgb(252, 252, 189) 40% 60%,
        rgb(184, 245, 184) 60% 80%,
        rgb(187, 187, 246) 80%
      ); 
      
    height:30px;
    overflow: hidden !important;
    position: relative;
    margin-bottom: 30px;
    position: relative;
    border-radius:20px !important;
    box-shadow: none;
}
.progress .progress-bar{
    animation: animate-positive 2s;
    position: relative;
    box-shadow: none;
    border-radius:0px !important;
}

.progress .progress-value{
    position: absolute;
    top:-50px;
    right:-20px;
    font-size:14px;
    color:#ffffff;
    display: block;
    z-index: 1;
}
.progress .progress-value:after{
    content: "";
    position: absolute;
    bottom:-6px;
    left: 35%;
    border-top: 7px solid #000000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

@-webkit-keyframes animate-positive {
    0% { width: 0%; }
}

@keyframes animate-positive {
    0% { width: 0%; }
}

/* Styles for mobile screens */
@media (max-width: 767px) {
    .container {
      width: 95%;
    }
  }
  
  /* Styles for tablet screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 65%;
    }
  }
  